<!doctype html>
<html lang="en">
<meta property="og:image" content="{{ actor.img_url }}" />
<meta property="og:title" content="{{ actor.name }}" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ actor.name }}</title>
</head>
<body>

<img src="{{ actor.img_url }}" alt="{{ actor.name }}" />
<h1>{{ actor.name }}</h1>

</body>
</html>